<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>boardWrite</h1>
    <a href="/board/readFile">파일읽기</a>
    <a href="/board/">boardMain</a>
    <a href="/board/list">boardList</a>
    <a href="/board/write">boardWrite</a> 
    <a href="/">Main</a>
    
    <form id="boardForm" name="boardForm" action="/board/write" method="post" enctype="multipart/form-data">
        제목 : <input type="text"  maxlength="10" name="brd_title"><br>
        내용 : <input type="text" maxlength="10" name="brd_content"><br>
        글쓴이 : <input type="text" maxlength="10" name="brd_writer"><br>
        파일1 : <input type="file" name="brd_file1"><br>
    </form>
    <input type="submit" value="입력" onclick="submitFlag()">
</body>
<script>
    function submitFlag() {
        let flag = confirm("입력하시겠습니까?");
        if (flag) {
            alert("확인");
            document.boardForm.submit();
        } else {
            alert("취소");
        }
    };
</script>
</html>