<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>boardMain</h1>
    <a href="/board/readFile">파일읽기</a>
    <a href="/board/">boardMain</a>
    <a href="/board/list">boardList</a>
    <a href="/board/write">boardWrite</a>
    <a href="/">Main</a>
</body>
</html>